.card {
    width: 33%;
    height: 500px;
    background: #333;
    color: #fff;
    font-size: 30px;
    margin: 5rem;
    display: flex;
    /* justify-content: center;
    align-items: center ; */

}